@media all and (max-width:420px){
  *{
    margin: 0
    padding: 0;
    box-sizing: border-box;
  }

  .row{
    width: 100%;
  }

  #lezioni .row > .left, #lezioni .row > .right{
    width: 100%;
    float: none;
    margin-top: 30px;
    padding: 0 20px;
  }

  #steps .row > .left, #steps .row > .central, #steps .row > .right{
    width: 100%;
    float: none;
    margin-top: 30px;
    padding: 0 20px;
  }

  #why {
    padding: 0 20px;
  }

}
